/* ******************* */
/* Global Styles */
/* ******************* */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  line-height: 1;
  color: #000;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* ******************* */
/* General Reusable Components */
/* ******************* */

.color-grey-secondary {
  color: #666666 !important;
}

.heading-primary {
  font-weight: 700;
  font-size: 5rem;
  color: #fff;
  line-height: 110%;
  letter-spacing: -0.7px;
  text-transform: capitalize;
  position: relative;
}

.heading-secondary {
  font-weight: 700;
  font-size: 2.6rem;
  text-transform: capitalize;
}

.heading-tertiary {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.25em;
  color: #fb724c;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;
  color: #888888;
}

.text-center {
  text-align: center;
}

.btn:visited,
.btn:link {
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #fff;
  background: #fb724c;
  border-radius: 25px;
  padding: 1.3rem 2.3rem;
}

.btn:hover,
.btn:active {
  box-shadow: 2px 4px 10px rgba(251, 114, 76, 0.4);
}

.btn-box {
  transition: all 0.5s;
  display: inline-block;
}

.btn-box:hover {
  transform: translateY(-5px) scale(1.1);
}

.laptop-img {
  width: 100%;
  max-width: 50rem;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.pad-small {
  padding: 0 4rem;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid--col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-medium-gap {
  gap: 3rem;
}

.grid-small-gap {
  gap: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 4rem;
}

.margin-primary {
  margin-top: 10rem;
}

.margin-secondary {
  margin-top: 6rem;
}

.margin-tertiary {
  margin-top: 3.5rem;
}

.margin-b-primary {
  margin-bottom: 4rem;
}

.margin-b-secondary {
  margin-bottom: 2rem;
}

.margin-b-tertiary {
  margin-bottom: 1rem;
}

.icon {
  height: 3.5rem;
}

.num {
  color: #aaa;
}

.fw-medium {
  font-weight: 500;
}

.transition {
  transition: all 0.4s ease-in-out;
}

/* ******************* */
/* Header */
/* ******************* */

.header {
  background-color: #0061ff;
  padding: 2rem 0;
}

.header-box {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7dafff;
}

/* ******************* */
/* Navbar */
/* ******************* */

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav ul li a {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  transition: all 0.5s;
}

.nav ul li a:hover {
  color: #fb724c;
}

/* ******************* */
/* Hero */
/* ******************* */

.hero-section {
  background-color: #0061ff;
  padding-top: 6rem;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 10rem;
}

.hero-section::after {
    content: "";
  position: absolute;
  bottom: -.4rem;
  z-index: -1;
  width: 100%;
  clip-path: polygon(100% 49%, 6% 95%, 100% 100%);
 /* clip-path: polygon(0 96%, 100% 65%, 100% 100%, 0 100%); */
-webkit-clip-path: polygon(0 96%, 100% 65%, 100% 100%, 0 100%);
  background-color: white;
  border: none;
  height: 50rem;
}



.hero-box {
  text-align: center;
  padding: 0 6rem;
  position: relative;
  z-index: 10;
} 

.hero-box figure {
  margin-top: 4rem;
}
.hero-img-box{
  position: absolute;
  right: 0;
  bottom: 0;

}

.hero-img-box figure {
  margin: 0 auto;
}

.cube-img {
  max-width: 30rem;
  position: absolute;
  bottom: .7rem;
}

/* ******************* */
/* Features */
/* ******************* */

.features-img {
  width: 100%;
  max-width: 15rem;
  filter: grayscale(100%);
}

.features {
  text-align: center;
}

.features-content {
  padding: 4rem 0;
  gap: 3rem;
}

.features-content-box {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  transition: all 0.6s;
  cursor: pointer;
}

.features-content-box:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-10px) scale(1);
}

.features-content-box:hover h3 {
  color: #fb724c;
}

/* ******************* */
/* How It Work */
/* ******************* */

.howItWork-section {
  background-color: #f5f6f7;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 5rem;

  position: relative;

  -webkit-clip-path: polygon(-3% 33%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(-3% 13%, 100% 0, 100% 100%, 0 100%);
}

.howItWork-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.MacbookPro-img {
  height: 55rem;
  max-width: 100%;
  object-fit: cover;
  margin-left: 2rem;
}

.howItWork-text-box {
  padding: 5rem 0;
  max-width: 60%;
  justify-self: flex-start;
}

.howItWork-01 {
  display: grid;
  grid-template-columns: 4rem 1fr;
}

/* ******************* */
/* Questions */
/* ******************* */

.questions-wrapper {
  width: 100%;
}

.question-box {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.question {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #333;
}

.question-text {
  padding: 2rem;
  display: none;
}

.none {
  display: none;
}

.question-btn {
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.minus-icon {
  display: none;
}

.show-text .question-text{
  display: block;
}

.show-text .minus-icon{
  display: block;
    color: #fff;
}

.show-text .plus-icon{
  display: none;
}

.show-text .question {
  background-color: #fb724c;
   color: #fff;
}

/* ******************* */
/* Facts */
/* ******************* */

.download-section,
.facts-section {
  background-image: url("/img/fact-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 27rem;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-section::before,
.facts-section::before {
  content: "";
  background-image: url("/img/map.png");
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 10;
  position: absolute;
}

.facts-wrapper {
  width: 70%;
  position: relative;
  z-index: 90;
  text-align: center;
}

.facts-count::after {
  content: "";
  width: 7.4rem;
  height: 3.5px;
  background-color: #fb724c;
  position: absolute;
  left: 2rem;
  bottom: -1rem;
}

.capitalize {
  text-transform: capitalize;
}

.facts-text-box h3 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 130%;
  color: #fff;
  margin-top: 2.3rem;
  text-transform: capitalize;
}

/* ******************* */
/* Work Progress */
/* ******************* */

.workProgress-icon {
  height: 5rem;
}

/* ******************* */
/* Pricing */
/* ******************* */

.pricing-box {
  border: 1px solid #eeeeee;
  padding: 3rem 2.5rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.pricing-box:hover {
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.1);
  transform: scale(1);
  background-color: #fff;
}

.pricing-box:hover h1 {
  color: #fb724c;
}

.price {
  font-size: 3.5rem;
  color: #0061ff;
  margin: 2rem auto;
  padding: 0rem 0 2rem;
  position: relative;
  display: inline-block;
}

.price span {
  font-size: 1.2rem;
  font-weight: inherit;
  color: #000;
}

.price::before {
  content: "$";
  position: absolute;
  top: 5px;
  left: -1rem;
  /* right: 1rem; */
  color: inherit;
  font-size: 1.5rem;
}

/* ******************* */
/* Testimonials */
/* ******************* */

.testimonials img {
  width: 80%;
}

.testimonials-wrapper {
  padding: 10rem 0;
}

.testimonials-text-box {
  padding: 0 1rem;
  text-align: center;
  font-weight: 500;

}

.testimonials-text-box blockquote {
  font-size: 1.3rem;
  line-height: 160%;
}

.testimonials-text-box .text {
  font-size: 1.1rem;
  line-height: 160%;
  color: #666666;
  text-transform: capitalize;
}

.arrow-btn {
  background-color: #fb724c;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
}

.arrow-btn:not(:nth-child(2)) {
  margin-right: 1rem;
}

.arrow-btn img {
  height: 1rem;
}

.testimonials-text-box .profession span {
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* ******************* */
/* Blog Post */
/* ******************* */

.blog-box {
  background-color: #fff;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.1);
  padding: 0 0 1.5rem;
  overflow: hidden;
}

.blog-box img {
  width: 100%;
  margin-bottom: 1.7rem;
  cursor: pointer;
  transition: all 0.4s;
}

.blog-box img:hover {
  transform: scale(1.1);
}

.blog-date {
  color: #fb724c;
  font-size: 1rem;
  padding: 0 2rem;
}

.blog-title {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
}

/* ******************* */
/* Dowload */
/* ******************* */

.download-section {
  margin-top: 14rem;
}

.download-wrapper {
  position: relative;
  z-index: 90;
  height: 100%;
  margin-top: 7rem;
}

.download-wrapper img {
  width: 100%;
}

.download-text-box {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 2rem 3rem 0 0;
}

.download-text-box h1 {
  font-size: 2.5rem;
  text-transform: inherit;
  padding-right: 10rem;
  letter-spacing: 0.7px;
  line-height: 130%;
  margin-bottom: 4rem;
}

/* *******************  */
/* Footer */
/* ******************* */

footer {
  padding-top: 6rem;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  /* border-bottom: 1px solid #ccc; */
}

.footer-header {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-nav {
  justify-self: center;
  padding-top: 1rem;
}

.footer-navList {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-transform: capitalize;
  margin-top: 3rem;
}

.socials li a:visited,
.socials li a:link,
.footer-navList a:link,
.footer-navList a:visited {
  color: #666666;
  transition: all 0.4s;
}

.footer-navList a:active,
.footer-navList a:hover {
  color: #fb724c;
}

.copyright {
  padding: 1rem 4rem 0 0;
  margin-top: 1rem;
}

hr {
  width: 100%;
  color: #ccc;
  margin: 4rem 1rem 0 0;
}

.copyright p {
  font-size: 1.3rem;
  color: #666666;
}

.company-name {
  color: #0061ff;
  font-weight: 500;
}

.socials {
  align-self: center;
}

.socials li {
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 0px;
  transition: all 0.5s;
  cursor: pointer;
}

.socials li:hover {
  background-color: #0061ff;
  color: #fff;
}

.socials li a:hover,
.socials li:active {
  color: #fff;
}
